body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}

.nav {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: azure;
  padding: 10px;
}

.navLink {
  margin: 10px;
}

.home {
  background-image: url('../images/home.jpg');
  background-size: 1500px, 1500px;
  width: 1350px;
  height: 740px; 
  padding: 10px;
  margin: 0px;
  z-index: 0;
}

.stgmataHome {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
  font-style: italic;
  letter-spacing: 30px;
  margin-top: 300px;
  margin-bottom: 0;
  color: whitesmoke;

}

.product {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  flex-direction: row;
  margin: 10px;
  width: 350px;
  height: 350px;
  display: inline-block;
}

.productImage {
  width: 250px;
  height: 250px;
}

.shopItem {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
}

.shopItemText {
  flex-direction: row;
  position: relative;
  left: 50%;
  margin-right: 1000px;
}

.shopItemImage {
  position: absolute;
}

.contact {
  flex-direction: column;
}

.socialMedia {
  flex-direction: column;
  position: relative;
  display: -webkit-inline-box;
}

.igContact {
  flex-direction: row;
}

.emailContact {
  flex-direction: row;
}

.dbContact {
  flex-direction: column;
}

.pageBreak {
  height: 1px;
  border: 2px solid lightgray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cartItemImage {
  height: 150px;
  width: 150px; 
  /* float: right; */
  left: 40%;
  position: relative;
  flex-direction: row;
  margin-bottom: 0px;
}

.imageDrop {
  height: 100px;
  width: 100px;
  margin: 5px;
  position: relative;
  border: 2px solid lightgray;
  border-radius: 10px;
}