body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}

.nav {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: azure;
  padding: 10px;
}

.navLink {
  margin: 10px;
}

.home {
  background-image: url('../images/home.jpg');
  background-size: 1500px, 1500px;
  width: 1350px;
  height: 740px; 
  padding: 10px;
  margin: 0px;
  z-index: 0;
}

.stgmataHome {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
  font-style: italic;
  letter-spacing: 30px;
  margin-top: 300px;
  margin-bottom: 0;
  color: whitesmoke;

}


